<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>

<body>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr width="100%" height="24"></tr>
        <tr>
            <td></td>
            <td align="center" width="400">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 16px;">
                    <tr width="100%">
                        <td align="center">
                            <a href="https://srodo.sk/" target="_blank">
                                <img width="48" height="48" src="https://srodo.sk/images/logo_light.png"
                                    style="display: block;">
                            </a>
                        </td>
                    </tr>
                    <tr width="100%" height="24"></tr>
                    <tr width="100%">
                        <td align="center">
                            <h1
                                style="font-family: Helvetica, Arial, sans-serif; margin: 0; text-align: center; color: #000000; font-size: 32px; line-height: 1.2; font-weight: 700;">
                                Nové heslo pre tvoj Šrodo účet?
                            </h1>
                        </td>
                    </tr>
                    <tr width="100%" height="24"></tr>
                    <tr width="100%">
                        <td align="center">
                            <p style="font-family: Helvetica, Arial, sans-serif; margin: 0; font-size: 16px; line-height: 1.4; color: #000000;">
                                Po kliknutí na link nižšie budeš presmerovaný na stránku, kde vytvoríš svoje nové heslo.
                            </p>
                        </td>
                    </tr>
                    <tr width="100%" height="8"></tr>
                    <tr width="100%">
                        <td align="center">
                            <p style="font-family: Helvetica, Arial, sans-serif; margin: 0; font-size: 16px; line-height: 1.4; color: #868e96;">
                                (Link je platný iba 1 hodinu od generácie)
                            </p>
                        </td>
                    </tr>
                    <tr width="100%" height="32"></tr>
                    <tr width="100%">
                        <td align="center">
                            <a href={{url}} target="_blank"
                                style="display: block; font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.4; background-color: #e22762; color: #ffffff; text-decoration: none; text-align: center; border-radius: 8px; font-weight: 600; padding: 16px 32px; max-width: 180px;">
                                Resetovať heslo
                            </a>
                        </td>
                    </tr>
                    <tr width="100%" height="32"></tr>
                    <tr width="100%">
                        <td align="center">
                            <p style="font-family: Helvetica, Arial, sans-serif; margin: 0; text-align: center; font-size: 14px; line-height: 1.4; color: #868e96;">
                                Toto je automaticky generovaný mail. Ak si ho dostal nevyžiadane, pokojne ho ignoruj.
                            </p>
                        </td>
                    </tr>
                    <tr width="100%" height="8"></tr>
                    <tr width="100%">
                        <td align="center">
                            <p style="font-family: Helvetica, Arial, sans-serif; margin: 0; text-align: center; font-size: 14px; line-height: 1.4; color: #868e96;">
                                <a href="https://srodo.sk/" target="_blank" style="text-decoration: underline; color: #868e96;">www.srodo.sk</a>, Košice, Slovakia
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr width="100%" height="24"></tr>
    </table>
</body>

</html>