<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>

<body>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr width="100%" height="24"></tr>
        <tr>
            <td></td>
            <td align="center" width="400">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 16px;">
                    <tr width="100%">
                        <td align="center">
                            <a href="https://srodo.sk/" target="_blank">
                                <img width="48" height="48" src="https://srodo.sk/images/logo_light.png"
                                    style="display: block;">
                            </a>
                        </td>
                    </tr>
                    <tr width="100%" height="16"></tr>
                    <tr width="100%">
                        <td align="center">
                            <h1
                                style="font-family: Helvetica, Arial, sans-serif; margin: 0; text-align: center; color: #000000; font-size: 32px; font-weight: 700;">
                                Pripravený získať 💯% na teste?
                            </h1>
                        </td>
                    </tr>
                    <tr width="100%" height="16"></tr>
                    <tr width="100%">
                        <td>
                            <p style="font-family: Helvetica, Arial, sans-serif; margin: 0; font-size: 16px;">
                                Over svoje konto a začni používať Šrodo naplno:
                            </p>
                        </td>
                    </tr>
                    <tr width="100%" height="8"></tr>
                    <tr width="100%">
                        <td>
                            <ul
                                style="font-family: Helvetica, Arial, sans-serif; list-style: none; padding-left: 16px; margin: 0; font-size: 16px;">
                                <li>✅ Získaj <b>okamžitú pomoc</b> s učivom a úlohami</li>
                                <li style="margin-top: 4px;">✅ Spoznaj <b>nových kamošov</b> zo školy</li>
                                <li style="margin-top: 4px;">✅ <b>Vysvetli</b> problematické učivo niekomu inému </li>
                            </ul>
                        </td>
                    </tr>
                    <tr width="100%" height="32"></tr>
                    <tr width="100%">
                        <td align="center">
                            <a href={{url}} target="_blank"
                                style="display: block; font-family: Helvetica, Arial, sans-serif; font-size: 16px; background-color: #e22762; color: #ffffff; text-decoration: none; text-align: center; border-radius: 8px; font-weight: 600; padding: 16px 32px; max-width: 180px;">
                                Overiť e-mail
                            </a>
                        </td>
                    </tr>
                    <tr width="100%" height="32"></tr>
                    <tr width="100%">
                        <td align="center">
                            <p style="font-family: Helvetica, Arial, sans-serif; margin: 0; text-align: center; font-size: 14px; color: #868e96;">
                                Toto je automaticky generovaný mail. Ak si ho dostal nevyžiadane, pokojne ho ignoruj.
                            </p>
                        </td>
                    </tr>
                    <tr width="100%" height="8"></tr>
                    <tr width="100%">
                        <td align="center">
                            <p style="font-family: Helvetica, Arial, sans-serif; margin: 0; text-align: center; font-size: 14px; color: #868e96;">
                                <a href="https://srodo.sk/" target="_blank" style="color: #868e96;">www.srodo.sk</a>, Košice, Slovakia
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr width="100%" height="24"></tr>
    </table>
</body>

</html>