.input-root {
  position: relative;
}

.input-label {
  position: absolute;
  z-index: 1001;
  pointer-events: none;
  top: 9px;
  left: 8px;
  line-height: 1;
  padding: 2px 6px;
  font-weight: 400 !important;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-placeholder);
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-dark-6));
  transition: color 100ms ease, transform 100ms ease, font-size 100ms ease;
}

.input-label.floating {
  transform: translateY(-16px);
  font-size: var(--mantine-font-size-xs);
}

.input-label.focused {
  color: var(--mantine-primary-color-filled);
}

.input-label.error {
  color: var(--mantine-color-error);
}