/* ::selection {
  background-color: var(--mantine-primary-color-filled);
  color: var(--mantine-color-white);
} */

:root {
  --header-height: 58px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--mantine-color-text);
}

.lazy-image {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  background-position: center;
  background-size: cover;
  border-radius: var(--mantine-radius-lg);
}

/* For YouTube videos to change size based on screen size */
iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  border: none;
  border-radius: var(--mantine-radius-lg);
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

/* For YouTube videos */

header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.small-header {
  z-index: 98;
  position: sticky;
  top: var(--header-height);
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  padding: var(--mantine-spacing-sm);
  transition: top 0.15s ease;
}

.small-header.hide {
  top: 0;
}

.header-inner {
  height: var(--header-height);
  padding: 0 var(--mantine-spacing-sm);
}

.page-wrapper,
.header-inner {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 240px 1fr 340px;
}

main {
  padding-top: var(--header-height);
  min-height: 100vh;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.navbar,
.aside {
  position: sticky;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  padding: var(--mantine-spacing-sm);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.header-inner .search {
  margin: calc((var(--header-height) - 40px) / 2) 0;
}

.search input {
  line-height: 1.2;
  border-radius: 24px;
  border: none;
  padding: 12px 46px;
  height: 40px;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.loader-center-x,
.loader-center {
  padding: var(--mantine-spacing-lg) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
}

.loader-center {
  width: 100%;
  height: 100%;
}

.menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  gap: var(--mantine-spacing-xs);
  cursor: pointer;
}

.menu-item:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.menu-item[data-active] {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.menu-item[data-active]:hover {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.profile-picture {
  position: absolute;
  top: -50px;
  left: 0;
  border: 4px solid var(--mantine-color-body);
}

.pointer {
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.light-hover:not([data-selected]):hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)) !important;
}

.dark-hover:not([data-selected]):hover {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)) !important
}

.dots {
  position: absolute;
  top: 3px;
  right: 0;
}

/* All custom cards START */

.news-card {
  border-radius: var(--mantine-radius-lg);
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  display: flex;
  flex-direction: column;
}

.news-card:not(:last-of-type) {
  margin-bottom: var(--mantine-spacing-sm);
}

.news-card-item {
  display: block;
  padding: 8px var(--mantine-spacing-lg);
  cursor: pointer;
}

.news-card>.news-card-item:last-of-type {
  padding-bottom: var(--mantine-spacing-lg);
  border-bottom-left-radius: var(--mantine-radius-lg);
  border-bottom-right-radius: var(--mantine-radius-lg);
}

.news-card-item:hover {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

/* All custom cards END */


.images-modal-search {
  position: sticky;
  top: 52px;
  padding-bottom: var(--mantine-spacing-sm);
  z-index: 1001;
  background-color: var(--mantine-color-body);
}

.custom-tabs {
  position: relative;
  gap: 4px;
}

.custom-tabs>* {
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  background-color: transparent;
  border-radius: var(--mantine-radius-md);
}

.custom-tabs>*:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.custom-tabs>[data-active] {
  border-color: var(--mantine-primary-color-filled);
  background-color: var(--mantine-primary-color-filled);
  color: var(--mantine-color-white);
}

.custom-tabs>[data-active]:hover {
  background-color: var(--mantine-primary-color-filled-hover);
}

.image-item-left,
.image-item-right {
  z-index: 9;
  display: flex;
  position: absolute;
  background-color: rgba(36, 36, 36, 0.6);
}

.image-item-left {
  top: var(--mantine-spacing-sm);
  left: var(--mantine-spacing-sm);
}

.image-item-right {
  top: var(--mantine-spacing-sm);
  right: var(--mantine-spacing-sm);
}

.input-counter {
  position: absolute;
  right: 0;
  bottom: 4px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 24px;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  padding: 4px 12px;
  font-size: var(--mantine-font-size-sm);
  cursor: pointer;
}

.icon-wrapper:hover {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

/* Custom colors for icons on post */
.icon-wrapper.like:hover,
.icon-wrapper.like-selected {
  color: var(--mantine-color-pink-filled);
}

.user-text p {
  margin-bottom: 0;
}

/* Small PC screens */
@media screen and (max-width: 992px) {
  .navbar {
    display: none;
  }

  .header-inner {
    display: flex;
    gap: var(--mantine-spacing-sm)
  }

  .header-inner .search {
    flex: 1;
  }

  .page-wrapper {
    grid-template-columns: 1fr 340px;
  }

  main {
    border-left: none;
  }
}


/* Tablets and mobiles */
@media screen and (max-width: 768px) {
  .aside {
    display: none;
  }

  .page-wrapper {
    grid-template-columns: 1fr;
  }

  main {
    border-right: none;
  }
}