/* ::selection {
  background-color: var(--mantine-color-srobarka-filled);
  color: var(--mantine-color-white);
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: var(--mantine-color-gray-0); */
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--mantine-color-black);
}

img {
  border-radius: var(--mantine-radius-lg);
  border: 1px solid var(--mantine-color-gray-2);
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  border: none;
  border-radius: var(--mantine-radius-md);
}

/* .link:hover {
  color: var(--mantine-color-srobarka-filled)!important;
} */

header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 58px;
  background-color: var(--mantine-color-white);
  border-bottom: 1px solid var(--mantine-color-gray-2);
}

main {
  padding-top: 58px;
  min-height: 100vh;
}

.header-inner, main {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 240px 1fr 340px;
}

.content {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: var(--mantine-color-gray-2);
}

.navbar, .aside {
  position: sticky;
  top: 58px;
  height: calc(100vh - 58px);
}

.search {
  margin: 8px 0;
}

.search div div {
  left: 8px;
}

.search input {
  line-height: 1.2;
  border-radius: 24px;
  border: none;
  padding: 12px 46px;
  height: 40px;
  background-color: var(--mantine-color-gray-1);
}

.search input:hover {
  background-color: var(--mantine-color-gray-2);
}

.profile-picture {
  position: absolute;
  top: -64px;
  left: 0;
  border: 4px solid var(--mantine-color-white);
}

.custom-card:hover {
  background-color: var(--mantine-color-gray-0);
}

.menu-button:hover {
  background-color: var(--mantine-color-gray-1);
}

.title-input input {
  font-size: 32px;
  font-weight: 700;
}

.custom-tabs {
  position: relative;
  gap: 5px;
}

.custom-tabs button {
  height: 42px;
  font-weight: 500;
  font-size: var(--mantine-font-size-md);
  border: 1px solid var(--mantine-color-gray-4);
  background-color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-sm);
}

.custom-tabs button:hover {
  background-color: var(--mantine-color-gray-0);
}

.custom-tabs [data-active] {
  border-color: var(--mantine-color-srobarka-filled);
  background-color: var(--mantine-color-srobarka-filled);
  color: var(--mantine-color-white);
}

.custom-tabs [data-active]:hover {
  background-color: var(--mantine-color-srobarka-filled-hover);
}

.custom-tabs-home {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.custom-tabs-home button {
  font-size: var(--mantine-font-size-md);
}

.custom-tabs-home button:hover {
  background-color: var(--mantine-color-gray-light-hover);
}

.custom-tabs-home button[data-active] {
  font-weight: 700;
}

.custom-tabs-home button[data-active]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 32px);
  width: 64px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--mantine-color-srobarka-filled);
}

.image-item-left, .image-item-right {
  z-index: 9;
  display: flex;
  position: absolute;
}

.image-item-left {
  top: var(--mantine-spacing-md);
  left: var(--mantine-spacing-md);
}

.image-item-right {
  top: var(--mantine-spacing-md);
  right: var(--mantine-spacing-md);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 24px;
  background-color: var(--mantine-color-gray-1);
  padding: 4px 12px;
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
}

.icon-wrapper:hover {
  background-color: var(--mantine-color-gray-2);
}

.likes-icon, .bookmark-icon, .likes-icon > *, .bookmark-icon > * {
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.likes-icon:hover button {
  background-color: var(--mantine-color-pink-light-hover)!important;
}

.likes-icon:hover button, .likes-icon:hover p, .likes-icon-selected button, .likes-icon-selected p {
  color: var(--mantine-color-pink-filled)!important;
}

.bookmark-icon:hover button {
  background-color: var(--mantine-color-srobarka-light-hover)!important;
}

.bookmark-icon:hover button, .bookmark-icon:hover p, .bookmark-icon-selected button, .bookmark-icon-selected p {
  color: var(--mantine-color-srobarka-filled)!important;
}

@media screen and (max-width: 992px) {
  .navbar {
    display: none;
  }

  main {
    grid-template-columns: 1fr 340px;
  }
}

@media screen and (max-width: 768px) {
  .aside {
    display: none;
  }

  main {
    grid-template-columns: 1fr;
  }

  .custom-card {
    border-radius: 0;
  }
}