.text-editor {
    margin-top: var(--mantine-spacing-sm);
    border: 1px solid var(--mantine-color-gray-3);
    border-radius: var(--mantine-radius-md);
}

.text-editor-menu {
    padding: 8px var(--mantine-spacing-sm);
    border-bottom: 1px solid var(--mantine-color-gray-3);
    border-top-left-radius: var(--mantine-radius-md);
    border-top-right-radius: var(--mantine-radius-md);
    gap: 2px;
    z-index: 98;
    background-color: var(--mantine-color-white);
    position: sticky;
    top: var(--header-height);
}

.tiptap {
    margin: var(--mantine-spacing-sm);
    outline: none;

    p {
      margin: 0.5em 0;  
    }

    >*+* {
        margin-top: 0.75em;
    }

    ul,
    ol {
        padding: 0 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
    }

    pre {
        background-color: var(--mantine-color-gray-0);
        font-family: var(--mantine-font-family-monospace);
        font-size: var(--mantine-font-size-xs);
        line-height: var(--mantine-line-height);
        padding: var(--mantine-spacing-xs);
        border-radius: var(--mantine-radius-sm);
    }

    img {
        max-width: 100%;
        height: auto;
    }

    blockquote {
        padding-left: 1rem;
        border-left: 2px solid rgba(#0D0D0D, 0.1);
    }

    hr {
        border: none;
        border-top: 2px solid rgba(#0D0D0D, 0.1);
        margin: 2rem 0;
    }

    /* Placeholder */
    p.is-editor-empty:first-child::before {
        color: var(--mantine-color-placeholder);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
}