/* ::selection {
  background-color: rgba(34,139,230,.1);
  color: #228be6;
} */

a {
  text-decoration: none;
}

header {
  z-index: 99;
  background-color: white;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

main {
  background-color: #f8f8f8;
  margin-top: 60px;
}

.sticky-navbar {
  position: sticky;
  left: 0;
  top: 76px;
}